<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>48</integer>
			<key>icon</key>
			<string>AutoRotate@2x.png</string>
			<key>label</key>
			<string>AutoRotate (iOS 10-14)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable tweak. This must be on for tweak to work. Note: this version is a work in progress for 11+12. Just added new dock features allowing up to 12 icons in dock, but still working on spacing and other small nuances.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable rotation on lockscreen. Turn off if you only want tweak for homescreen.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key1</string>
			<key>label</key>
			<string>Enable on lockscreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This rotates everything except the dock(it does turn the icons in it though).</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key3</string>
			<key>label</key>
			<string>iPhone plus style rotation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Rotates dock, icons + wallpaper, for iPad style rotation, and stacks the icons in tight columns.</string>
		</dict>
                		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key2</string>
			<key>label</key>
			<string>Stacked-iPad style</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>iPadCapable</string>
			<key>label</key>
			<string>Rotate most apps (beta)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>wantsDeviceIdiom1</string>
			<key>label</key>
			<string>Mini iPad mode(beta)</string>
		</dict>
<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>rotateMoreApps</string>
			<key>label</key>
			<string>Rotate more apps(beta)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>hideLabels</string>
			<key>label</key>
			<string>Hide icon labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Autorotates while dragging / rearranging icons. Looks neat with them rotating at your fingertips. (iOS 11-12 Only)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>wantsDragging</string>
			<key>label</key>
			<string>Rotate when dragging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Alternate layout for control center that shifts everything to the side for all orientations. By default it will change only when rotated. (iOS 10 ONLY)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key31</string>
			<key>label</key>
			<string>CC always shifted</string>
		</dict>
<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Option to have 12 icon dock. Currently only enabled for iOS 10-12. Will work on 13 and 14 at a later time. FolderControllerXIII allows custom dock layouts for iOS 13 and 14 already.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>wantsCustomDock</string>
			<key>label</key>
			<string>Enable 12 Icon Dock</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Resprings not needed on iOS 10-12, but should be used if a setting does not update immediately, or on a higher iOS version.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>36</integer>
			<key>icon</key>
			<string>i0s_tweak3r.png</string>
			<key>label</key>
			<string>Made by i0s_tweak3r.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>36</integer>
			<key>icon</key>
			<string>SK9.png</string>
			<key>label</key>
			<string>With help from SbhnKhrmn</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Contact me on twitter</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>twitter2</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@SbhnKhrmn on twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you find this tweak to be useful, please consider a donation, or purchasing one of my paid tweaks. Check out FolderControllerXIII, ModernBarz, XConditoPro and EnableMeAhora; all are available in my repo and/or in Packix.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>repolink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>👉 Add my repo for more tweaks.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Buy me an energy drink.</string>
		</dict>
	</array>
	<key>title</key>
	<string>AutoRotate (iOS 10-14)</string>
</dict>
</plist>
