<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>48</integer>
			<key>icon</key>
			<string>AutoRotate@2x.png</string>
			<key>label</key>
			<string>AutoRotate (BETA)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable tweak. This must be on for tweak to work. Note: this tweak is a work in progress:  I don't have an X to test with, and it works on my devices. If u have issues feel free to let me know on twitter or email, or use Bigboss version.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable rotation on lockscreen. Turn off if you only want tweak for homescreen.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key1</string>
			<key>label</key>
			<string>Enable on lockscreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This rotates everything except the dock(it does turn the icons in it though).</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key3</string>
			<key>label</key>
			<string>iPhone plus style rotation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Rotates dock, icons + wallpaper, and stacks the icons in tight columns. Looks great with CirDock, FloatyDock (or similar tweak) and Landscape themed setups. Snowboard makes it look better if u shrink icon size a little.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key2</string>
			<key>label</key>
			<string>Stacked rotation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Autorotates while dragging / rearranging icons. Looks neat with them rotating at your fingertips. (iOS 11 Only)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>wantsDragging</string>
			<key>label</key>
			<string>Rotate when dragging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Alternate layout for control center that shifts everything to the side for all orientations. By default it will change only when rotated. iOS 10 ONLY</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>key31</string>
			<key>label</key>
			<string>CC always shifted</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Beta method- medusa capable rotates and splits  more apps but may cause app crashes on some devices, or with certain apps. Use with stacked layout style.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.autorotate/saved</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.autorotate</string>
			<key>key</key>
			<string>iPadCapable</string>
			<key>label</key>
			<string>medusaCapable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring not needed if you change more then one option, or leave settings and go back. If not working it will set prefs correctly.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>repolink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>👉 Add my repo for more tweaks.</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>36</integer>
			<key>icon</key>
			<string>i0s_tweak3r.png</string>
			<key>label</key>
			<string>Made by i0s_tweak3r.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Contact me on twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Help me buy an iPhoneX</string>
		</dict>
	</array>
	<key>title</key>
	<string>AutoRotate settings</string>
</dict>
</plist>
